/**
 * Gruvbox light theme
 *
 * Based on Gruvbox: https://github.com/morhetz/gruvbox
 * Adapted from PrismJS gruvbox-dark theme: https://github.com/schnerring/prism-themes/blob/master/themes/prism-gruvbox-dark.css
 *
 * @author Michael Schnerring (https://schnerring.net)
 * @version 1.0
 */

.prism-highlight code[class*='language-'],
.prism-highlight pre[class*='language-'] {
  color: #3c3836; /* fg1 / fg */
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.prism-highlight pre[class*='language-']::-moz-selection,
.prism-highlight pre[class*='language-'] ::-moz-selection,
.prism-highlight code[class*='language-']::-moz-selection,
.prism-highlight code[class*='language-'] ::-moz-selection {
  color: #282828; /* fg0 */
  background: #a89984; /* bg4 */
}

.prism-highlight pre[class*='language-']::selection,
.prism-highlight pre[class*='language-'] ::selection,
.prism-highlight code[class*='language-']::selection,
.prism-highlight code[class*='language-'] ::selection {
  color: #282828; /* fg0 */
  background: #a89984; /* bg4 */
}

/* Code blocks */
.prism-highlight pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(.prism-highlight pre) > .prism-highlight code[class*='language-'],
.prism-highlight pre[class*='language-'] {
  background: transparent; /* bg0_h */
}

/* Inline code */
:not(.prism-highlight pre) > .prism-highlight code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.prism-highlight .token.comment,
.prism-highlight .token.prolog,
.prism-highlight .token.cdata {
  color: #7c6f64; /* fg4 / gray1 */
}

.prism-highlight .token.delimiter,
.prism-highlight .token.boolean,
.prism-highlight .token.keyword,
.prism-highlight .token.selector,
.prism-highlight .token.important,
.prism-highlight .token.atrule {
  color: #9d0006; /* red2 */
}

.prism-highlight .token.operator,
.prism-highlight .token.punctuation,
.prism-highlight .token.attr-name {
  color: #7c6f64; /* fg4 / gray1 */
}

.prism-highlight .token.tag,
.prism-highlight .token.tag .punctuation,
.prism-highlight .token.doctype,
.prism-highlight .token.builtin {
  color: #b57614; /* yellow2 */
}

.prism-highlight .token.entity,
.prism-highlight .token.number,
.prism-highlight .token.symbol {
  color: #8f3f71; /* purple2 */
}

.prism-highlight .token.property,
.prism-highlight .token.constant,
.prism-highlight .token.variable {
  color: #9d0006; /* red2 */
}

.prism-highlight .token.string,
.prism-highlight .token.char {
  color: #797403; /* green2 */
}

.prism-highlight .token.attr-value,
.prism-highlight .token.attr-value .punctuation {
  color: #7c6f64; /* fg4 / gray1 */
}

.prism-highlight .token.url {
  color: #797403; /* green2 */
  text-decoration: underline;
}

.prism-highlight .token.function {
  color: #b57614; /* yellow2 */
}

.prism-highlight .token.regex {
  background: #797403; /* green2 */
}

.prism-highlight .token.bold {
  font-weight: bold;
}

.prism-highlight .token.italic {
  font-style: italic;
}

.prism-highlight .token.inserted {
  background: #7c6f64; /* fg4 / gray1 */
}

.prism-highlight .token.deleted {
  background: #9d0006; /* red2 */
}

/**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 */

.dark .prism-highlight code[class*='language-'],
.dark .prism-highlight pre[class*='language-'] {
  color: #ebdbb2; /* fg1 / fg */
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.dark .prism-highlight pre[class*='language-']::-moz-selection,
.dark .prism-highlight pre[class*='language-'] ::-moz-selection,
.dark .prism-highlight code[class*='language-']::-moz-selection,
.dark .prism-highlight code[class*='language-'] ::-moz-selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

.dark .prism-highlight pre[class*='language-']::selection,
.dark .prism-highlight pre[class*='language-'] ::selection,
.dark .prism-highlight code[class*='language-']::selection,
.dark .prism-highlight code[class*='language-'] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* Code blocks */
.dark .prism-highlight pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(.dark .prism-highlight pre)
  > .dark
  .prism-highlight
  code[class*='language-'],
.dark .prism-highlight pre[class*='language-'] {
  background: #1d2021; /* bg0_h */
}

/* Inline code */
:not(.dark .prism-highlight pre)
  > .dark
  .prism-highlight
  code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.dark .prism-highlight .token.comment,
.dark .prism-highlight .token.prolog,
.dark .prism-highlight .token.cdata {
  color: #a89984; /* fg4 / gray1 */
}

.dark .prism-highlight .token.delimiter,
.dark .prism-highlight .token.boolean,
.dark .prism-highlight .token.keyword,
.dark .prism-highlight .token.selector,
.dark .prism-highlight .token.important,
.dark .prism-highlight .token.atrule {
  color: #fb4934; /* red2 */
}

.dark .prism-highlight .token.operator,
.dark .prism-highlight .token.punctuation,
.dark .prism-highlight .token.attr-name {
  color: #a89984; /* fg4 / gray1 */
}

.dark .prism-highlight .token.tag,
.dark .prism-highlight .token.tag .punctuation,
.dark .prism-highlight .token.doctype,
.dark .prism-highlight .token.builtin {
  color: #fabd2f; /* yellow2 */
}

.dark .prism-highlight .token.entity,
.dark .prism-highlight .token.number,
.dark .prism-highlight .token.symbol {
  color: #d3869b; /* purple2 */
}

.dark .prism-highlight .token.property,
.dark .prism-highlight .token.constant,
.dark .prism-highlight .token.variable {
  color: #fb4934; /* red2 */
}

.dark .prism-highlight .token.string,
.dark .prism-highlight .token.char {
  color: #b8bb26; /* green2 */
}

.dark .prism-highlight .token.attr-value,
.dark .prism-highlight .token.attr-value .punctuation {
  color: #a89984; /* fg4 / gray1 */
}

.dark .prism-highlight .token.url {
  color: #b8bb26; /* green2 */
  text-decoration: underline;
}

.dark .prism-highlight .token.function {
  color: #fabd2f; /* yellow2 */
}

.dark .prism-highlight .token.regex {
  background: #b8bb26; /* green2 */
}

.dark .prism-highlight .token.bold {
  font-weight: bold;
}

.dark .prism-highlight .token.italic {
  font-style: italic;
}

.dark .prism-highlight .token.inserted {
  background: #a89984; /* fg4 / gray1 */
}

.dark .prism-highlight .token.deleted {
  background: #fb4934; /* red2 */
}
